* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Soft-orange: hsl(35, 77%, 62%);
	--Soft-red: hsl(5, 85%, 63%);
	--Off-white: hsl(36, 100%, 99%);
	--Grayish-blue: hsl(233, 8%, 79%);
	--Dark-grayish-blue: hsl(236, 13%, 42%);
	--Very-dark-blue: hsl(240, 100%, 5%);
}

@font-face {
	font-family: 'Inter';
	src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	overflow: hidden;
}

body {
	font-family: 'Inter', serif;
	color: var(--Very-dark-blue);
	background-color: var(--Off-white);
}

nav {
	padding: 3rem 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

.logo {
	text-decoration: none;
}

.mobile-menu {
	display: none;
}

.menu {
	display: grid;
	grid-template-columns: repeat(5, auto);
	list-style: none;
	justify-items: end;
}

.menu li:has(img) {
	display: none;
}

.menu li a {
	text-decoration: none;
	color: var(--Very-dark-blue);
}

.menu li a:hover {
	color: var(--Soft-red);
}

header {
	display: grid;
	grid-template-areas:
		'image image aside'
		'header content aside';
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-gap: 30px;
}

header img {
	grid-area: image;
	width: 100%;
}
header .l-heading {
	grid-area: header;
	font-size: 4rem;
	font-weight: 800;
}
header .content {
	grid-area: content;
	line-height: 1.6;
	font-size: 1.1rem;
	color: var(--Dark-grayish-blue);
}
header .content button {
	margin-top: 4rem;
	padding: 0.875rem 1.2rem;
	border: none;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: 'Inter';
	text-align: center;
	font-weight: 600;
	background-color: var(--Soft-red);
	color: var(--Off-white);
}
header .content button:hover {
	background-color: var(--Very-dark-blue);
}
header aside {
	grid-area: aside;
	background-color: var(--Very-dark-blue);
	color: var(--Grayish-blue);
	padding: 2rem;
}

header aside h1 {
	color: var(--Soft-orange);
	font-size: 2rem;
	line-height: 2;
}

header aside div {
	padding: 2rem 0;
	border-bottom: 1px solid var(--Dark-grayish-blue);
}
header aside div:last-child {
	border-bottom: none;
}

header aside div a {
	color: var(--Off-white);
	text-decoration: none;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 2;
}
header aside div a:hover {
	color: var(--Soft-orange);
}
header aside div p {
	line-height: 1.5;
}

section.container {
	margin: 50px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

section .card {
	display: grid;
	grid-template-columns: 120px auto;
	grid-gap: 30px;
}

section .card img {
	width: 100%;
}

section .card h2 {
	color: var(--Grayish-blue);
	font-size: 2rem;
}
section .card h3 {
	font-size: 1.2rem;
	line-height: 3;
	cursor: pointer;
}
section .card h3:hover {
	color: var(--Soft-red);
}

section .card p {
	color: var(--Dark-grayish-blue);
	line-height: 1.5;
}

@media (max-width: 600px) {
	.fixed-position {
		overflow: hidden;
		position: fixed;
	}
	.container {
		max-width: 90%;
	}

	nav {
		grid-template-columns: 100px auto;
	}

	.menu {
		padding: 50px 50px 0;
		position: fixed;
		top: 0;
		right: -100%;
		grid-template-columns: 100%;
		grid-template-rows: repeat(5, 100px);
		justify-items: start;
		background-color: var(--Off-white);
		height: 100%;
		width: 70%;
		transition: 0.3s 0.5s;
		transform-style: preserve-3d;
	}

	.menu::after {
		content: '';
		position: absolute;
		inset: 0;
		left: 0;
		background-color: hsla(240, 100%, 5%, 0.75);
		backdrop-filter: blur(5px);
		transform: translateZ(-1px);
		transition: 0.3s;
	}

	.mobile-menu.active ~ .menu {
		right: 0;
	}
	.mobile-menu.active ~ .menu:after {
		left: -200%;
	}

	.menu li:has(img) {
		display: block;
		justify-self: end;
	}

	.menu li a {
		font-size: 24px;
	}

	.mobile-menu {
		display: grid;
		justify-content: end;
	}

	.mobile-menu .close,
	.mobile-menu.active .open {
		display: none;
	}
	.mobile-menu.active .close {
		display: block;
	}

	header {
		grid-template-areas:
			'image'
			'header'
			'content'
			'aside';
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	header img {
		height: 400px;
		object-fit: cover;
	}
	header .content button {
		margin-top: 2rem;
	}

	section.container {
		grid-template-columns: 1fr;
	}
	section .card h3{
		font-size: 1rem;
		line-height: 2;
	}
}